// body{
//   background-color: rgba(0, 0, 0, 0.759);
//   color: white;
// }
.background-side {
  background-color: #b880ff;
  width: 468px;
  height: 595px;
}
.background-sidePc {
  background-color: #b880ff;
  width: 468px;
  height: 926px;
}
img.logo {
  width: 79px;
  height: 79px;
  margin-left: 30px;
}
.navbar-menu ul {
  display: grid;
  grid-template-rows: 4.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
}
.left {
  display: grid;
  grid-template-rows: 4.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
  position: absolute;
  float: right;
  margin-left: 65%;
  margin-top: 10px;
}
.left li {
  margin: 10px;
}
.left img {
  width: 25px;
  height: 25px;
}



.iconplus img {
  margin-left: 35%;
  width: 88px;
  height: 88px;
  position: absolute;
  margin-top: -12%;
}
.card-profile {
  width: 85%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  background: rgb(211, 210, 218);
  background: linear-gradient(
    90deg,
    rgba(211, 210, 218, 0.5191118683801645) 8%,
    rgba(244, 160, 235, 0.724) 27%,
    rgba(243, 166, 246, 0.48) 100%
  );
  position: absolute;
  margin-top: -10%;
  border-radius: 200px 0px 200px 0px;
  -webkit-border-radius: 200px 0px 200px 0px;
  -moz-border-radius: 200px 0px 200px 0px;
  -ms-border-radius: 200px 0px 200px 0px;
  -o-border-radius: 200px 0px 200px 0px;
  margin-top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-image {
  width: 301px;
  height: 301px;
  background-color: rgba(183, 31, 203, 0.458);
  background-image: url(../../../assets/me.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 15%;
  margin-top: 5%;
}
.title {
  margin-left: 500px;
  margin-right: 89px;
  margin-top: -370px;
  position: relative;
  padding-top: 10%;
  text-align: left;
  padding-left: -30px;
}

.titleScreenPc{
  margin-left: 610px;
  margin-right: 89px;
  margin-top: -400px;
  position: relative;
  padding-top: 10%;
  text-align: left;
  padding-left: -30px;
}

.button {
  margin-top: 20px;
}
.container-skill ul {
  padding: 20px;
  margin-left: 28%;
  margin-top: 22%;
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.container-skill ul li {
  margin: 30px;
  width: 161px;
  height: 91px;
  background-color: #b880ff;
  margin: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.container-skill ul li img {
  position: relative;
  //absoulte center
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.container-skill ul li .bgbulet {
  position: absolute;
  //absoulte center

  background-color: rgb(219, 21, 21);
}
