<div class="container">
  <div
    class="background-side"
    [ngClass]="{
      'background-side': widthScreen <= 1280 || widthScreen == 1280,
      'background-sidePc': widthScreen > 1280 || widthScreen == 1920
    }"
  >
    <div class="navbar-menu">
      <ul>
        <li>
          <a href="">
            <img class="logo" src="../../../assets/logonav.png" alt="" />
          </a>
        </li>
        <li>
          <button
            *ngIf="!isAuthenticated"
            style="background-color: blueviolet"
            class="hover:bg-blue-600 text-white font-bold py-2 px-3 rounded mt-4"
          >
            <span *ngIf="!isAuthenticated"> Join as member </span>
            <span *ngIf="isAuthenticated"> Logout </span>
          </button>
        </li>
        <div class="left">
          <li>
            <a href="" class="hover:bg-fuchsia-600 rounded hover:text-white"
              >Home</a
            >
          </li>
          <li>
            <a href="" class="hover:bg-fuchsia-600 rounded hover:text-white"
              >Project</a
            >
          </li>
          <li>
            <a href="" class="hover:bg-fuchsia-600 rounded hover:text-white"
              >About</a
            >
          </li>
          <li>
            <a href="" class="hover:bg-fuchsia-600 rounded hover:text-white"
              >Content</a
            >
          </li>
          <li>
            <a class="cursor-pointer" (click)="changeColor()">
              <img src="../../../assets/moonlight.png" alt="" />
            </a>
            <ul
              *ngIf="buttonColor"
              class="bg-fuchsia-600 rounded"
              style="display: flex; flex-direction: column"
            >
              <li
                class="hover:text-white cursor-pointer"
                (click)="doChange('dark')"
              >
                Change dark
              </li>
              <li class="hover:text-white cursor-pointer">Change White</li>
              <li class="hover:text-white cursor-pointer">Change Blue</li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
    <div class="iconplus">
      <img src="../../../assets/iconplus.png" alt="" />
    </div>
    <div class="card-profile">
      <div class="icon-image"></div>
      <div
        [ngClass]="{
          title: widthScreen <= 1280 || widthScreen == 1280,
          titleScreenPc: widthScreen >= 1920
        }"
      >
        <h1
          [ngStyle]="{
            'font-size':
              widthScreen <= 1280 || widthScreen == 1280 ? '40px' : '60px'
          }"
        >
          I am
          <span style="font-weight: bold; color: blueviolet"
            >Angga Lesmana</span
          >
        </h1>
        <p>
          Draft is a revolutionary mobile app built to help you manage your
          business easily and save your money.
        </p>
        <div class="button">
          <button
            style="
              background-color: blueviolet;
              width: 200px;
              height: 54px;
              border-radius: 20px;
              color: white;
            "
            [routerLink]="['/login']"
          >
            <span
              style="
                display: flex;
                font-weight: bold;
                font-size: 23;
                flex-direction: row;
                text-align: center;
                align-items: center;
                justify-content: center;
              "
            >
              See Project
              <img
                style="width: 28px; height: 28px; margin-left: 10px"
                src="../../../assets/arrow.png"
                alt=""
              />
            </span>
          </button>
          <button
            style="color: blueviolet; margin-left: 20px; font-weight: bold"
          >
            Download Resume
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="container-skill">
      <ul>
        <li>
          <span class="bgbulet"></span>
          <img
            src="../../../assets/rm-background.png"
            height="55"
            width="55"
            alt=""
          />
        </li>
        <li>
          <span class="bgbulet"></span>

          <img
            src="../../../assets/rm-background.png"
            height="55"
            width="55"
            alt=""
          />
        </li>
        <li>
          <span class="bgbulet"></span>

          <img
            src="../../../assets/rm-background.png"
            height="55"
            width="55"
            alt=""
          />
        </li>
        <li>
          <span class="bgbulet"></span>

          <img
            src="../../../assets/rm-background.png"
            height="55"
            width="55"
            alt=""
          />
        </li>
      </ul>
    </div> -->
  </div>
</div>
