<div *ngIf="!isError && loadError" role="alert" class="container w-80 mt-10">
  <div class="bg-blue-500 text-white font-bold rounded-t px-4 py-2">
    Success
  </div>
  <div
    class="border border-t-0 border-blue-400 rounded-b bg-blue-100 px-4 py-3 text-blue-700"
  >
    <p>Succes Register, {{ message }}</p>
  </div>
</div>

<div *ngIf="isError && loadError" role="alert" class="container mx-auto mt-10">
  <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">Danger</div>
  <div
    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
  >
    <p>Something not ideal might be happening. {{ message }}</p>
  </div>
</div>
<div class="w-full max-w-xs mx-auto container">
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Email"
        name="email"
        maxLength="20"
        ngModel
        required
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        type="password"
        name="password"
        ngModel
        required
        placeholder="******************"
      />
      <!-- <p class="text-red-500 text-xs italic">Please choose a password.</p> -->
    </div>

    <div class="flex items-center justify-between">
      <button
        *ngIf="!isLoading"
        [disabled]="form.invalid"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        {{ isLoginMode ? "Sign in" : "Sign-up" }}
      </button>
      <div *ngIf="isLoading">
        <app-spinner></app-spinner>
      </div>
      <button
        (click)="switchMode()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >
        Switch to {{ isLoginMode ? "Sign In" : "Sign-Up" }}
      </button>
    </div>
    <a
      class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
      href="#"
    >
      Forgot Password?
    </a>
    <!-- <button (click)="loginWithGoogle()
    ">Login With Google</button> -->
  </form>
  <p class="text-center text-gray-500 text-xs">&copy;2023 Angga</p>
</div>
